*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #ffe8ba;
}

#main-title{
    text-align: center;
    font-size: 48px;
    padding: 10px;
    margin-bottom: 20px;
}

#form-container{
    width: 500px;
    background-color: white;
    border: 5px solid black;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 15px;
    box-shadow: 3px 3px 5px gray;
    display: none;
}

form label{
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 5px;
    padding-right: 10px;
}

form input{
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 20px;
    background-color: #ededed;
}

.form-checkbox{
    display: block;
    position: relative;
    cursor: pointer;
    padding-left: 30px;
}

input[type=checkbox]{
    visibility: hidden;
}

.input-checkbox-new{
    position: absolute;
    top: 2px;
    left: 0;
    background-color: white;
    width: 20px;
    height: 20px;
    border: 1px solid darkgray;
}

.form-checkbox input:checked ~ .input-checkbox-new{
    background-color: dodgerblue;
}

#form-button-container{
    margin-top: 25px;
    display: flex;
    justify-content: space-evenly;
}

.form-button{
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 700;
    color: white;
    border: 2px solid black;
}

.darkgreen{
    background-color: darkgreen;
}

.darkred{
    background-color: darkred;
}

#add-button-container{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.add-button{
    padding: 20px 80px;
    font-size: 26px;
    border: 2px solid black;
    background-color: white;
    box-shadow: 3px 3px 6px gray;
}

#container{
    width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 8px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 8px gray;
}

.book-item{
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 250px;
    grid-template-rows: repeat(4, 1fr);
}

.book-item:not(:last-child){
    border-bottom: 1px solid gray;
}

.book-item h2{
    font-size: 36px;
}

.book-item p{
    font-size: 22px;
    align-self: center;
}

.item-button-container{
    grid-column: 2 / 3;
    grid-row: 1 / 5;
    display: grid;
    padding: 10px;
    gap: 10px;
}

.book-button{
    background-color: darkred;
    color: white;
    border: 2px solid black;
    font-size: 26px;
    font-weight: 700;
}

.book-button.change{
    grid-row: 1 / 3;
}

.book-button.delete{
    grid-row: 3 / 5;
}